@import '../assets/stylesheets/_custom-variables';

$pf-cust-navbar-text-size:$font-size-large;

$pf-custom-navbar-top-border-width:2px;
$pf-custom-navbar-header-border-width:0;

$pf-custom-navbar-item-height:$pf-cust-navbar-text-size*2;
$pf-custom-navbar-persistent-nav-offset:$pf-custom-navbar-item-height+ $pf-custom-navbar-header-border-width;
$pf-custom-navbar-font-size:$pf-cust-navbar-text-size;
$pf-custom-navbar-icon-height:$pf-cust-navbar-text-size *1.5;
$pf-custom-navbar-icon-min-width:$pf-cust-navbar-text-size*1.6;
$pf-custom-navbar-item-padding:0;

$pf-custom-navbar-debug-border:0;

.view-width-100
{
  width:100vw !important;
}

.navbar-pf
{
  border-top-width:$pf-custom-navbar-top-border-width;
  .navbar-header{
    border-bottom-width: $pf-custom-navbar-header-border-width;
  }
  // Note: The socondary persistent nav uses bottom margin to regulat the height of the overall navbar
  // together with the height of the nav header and top colored border
  .navbar-primary.persistent-secondary{
    >li{
      &.active {
        margin-bottom:$pf-custom-navbar-item-height;
        &.with-no-children
        {
            // Note: this collapses the persistent menu
            margin-bottom:$pf-custom-navbar-header-border-width !important;
        }
        ul.navbar-persistent
        {
          top:$pf-custom-navbar-persistent-nav-offset;
        }
      }
    }
  }
  // Note the height of the a element is the element with the most effect on navigation height
  a{
    padding-top:$pf-custom-navbar-item-padding !important;
    padding-bottom:$pf-custom-navbar-item-padding !important;
    margin:0 !important;

    display:inline-block;
    height:$pf-custom-navbar-item-height !important;
    // border:solid $pf-custom-navbar-debug-border orangered !important;
    vertical-align: top !important;
    position:relative !important;
    >div{
     position:relative;
     height:100% !important;
    }
  }
  span.nav-item-text{

     position:relative;
     height:100%;
     top:0;

     line-height:$pf-custom-navbar-item-height !important; // $pf-custom-navbar-font-size;
     font-size:$pf-custom-navbar-font-size;
     font-weight: lighter !important;
     border:solid $pf-custom-navbar-debug-border orange !important;
     display:inline-block !important;
   }
   span.nav-item-icon{
     position:relative;
     height:100%;
     line-height:$pf-custom-navbar-icon-height !important;
     min-width:$pf-custom-navbar-icon-min-width;
     display:inline-block !important;
     vertical-align: top !important;
     border:solid $pf-custom-navbar-debug-border darkorange;

     >img{
       position:relative;
       height:$pf-custom-navbar-icon-height !important ;
       min-width:$pf-custom-navbar-icon-height;
       display:inline-block !important;
       border:solid $pf-custom-navbar-debug-border lime !important;
       margin:auto;
       padding:0;
     }
     >span
     {
       &.nav-icon{
          display:inline-block;
          position:relative;
          height:100%;
          width:100%;
          margin:0;
          line-height:100%;
          text-align: center;
          border:solid $pf-custom-navbar-debug-border lime !important;
         &:before {
            position:relative;
            width:100%;
            height:100%;
            line-height: $pf-custom-navbar-item-height;
            font-size:$pf-cust-navbar-text-size;
            vertical-align:center;
         }
       }
     }
   }
}
