#stackAnalyses{
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
}   

#compGridCntr{
    .table>thead {
        color: #000;
    }
}

#compGridCntrCVE {
    .table{
    width: 50%;
    margin: 0 auto;
    }
    .table>thead {
        color: #000;
    }
}
