@import '../../assets/sass/_custom-variables';
@import '../../assets/sass/_colors';

.hide { display: none; }
.navbar-custom {
  background-color: $color-pf-black;
  margin-bottom: 0;
  min-height: 85px;
  .navbar-collapse {
    margin: 10px 0;
    margin-top: 0 !important;
  }
  .navbar-toggle {
    font-size: 16px;
    color: $color-pf-white;
    border: 1px solid $color-pf-white;
    border-radius: 4px;
    margin-top: 20px;
    padding: 5px 15px;
    &:focus,
    &:active { outline: none; }
  }
  .logo-with-subtext { display: inline-block; }
  .navbar-brand { height: 100%;
    img { width: 240px;
      @media (max-width: 597px) {
        margin-top: 10px;
        width: 223px;
      }
      @media (max-width: 350px) { width: 168px; }
    }
    &:focus { outline: none; }
  }
  a { color: $color-pf-white; }
  .brand-left{
    margin-top: 10px;
    position: fixed;
    left: 25%;
    @media (max-width: 1400px) { left: 28%; }
    @media (max-width: 1201px) {
      position: relative;
      left: 0;
    }
  }
  .brand-right {
    float: right;
    margin-top: 10px;
  }
  .nav {
    li {
      a {
        transition: background .3s ease-in-out;
          -webkit-transition: background .3s ease-in-out;
          -moz-transition: background .3s ease-in-out;
        &:hover {
          background-color: transparent;
          color: rgba($color-pf-white, 0.8);
          outline: none;
        }
        &:focus,
        &:active {
          background-color: transparent;
          outline: none;
        }
      }
      &.active { outline: none;
        a { background-color: rgba($color-pf-black, 0.3);
          &:hover { color: $color-pf-white; }
        }
      }
    }
  }
  img#userimage { width: 20px; }
  .nav-registration {
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid;
    border-color: $color-rh-blue-light;
    a {
      color: $color-rh-blue-light;
    }
  }
  @media (min-width: 768px) {
    background: $color-pf-black;
    letter-spacing: 1px;
    padding: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
    &.top-nav-collapse {
      background: $color-pf-black;
      border-bottom: 1px solid rgba(black, 0.3);
      opacity: .8;
      &:hover { opacity: 1; }
      .nav-registration {
        border-color: $color-rh-red;
        background-color: $color-rh-red;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
           -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
                transition: background .5s ease-in-out, padding .5s ease-in-out;
        a { color: $color-pf-white; }
      }
    }
  }
}
.navbar-nav {
  > li {
    margin-top: 10px;
    > .dropdown-menu {
      > li {
        > a { color: $color-pf-black;
          &:hover {
            border-color: $color-pf-white;
            color: $color-pf-black-300;
          }
        }
      }
    }
  }
}
// override default Bootstrap breakpoint for mobile navigation
@media (max-width: 1200px) {
  .navbar-header { float: none; }
  .navbar-left,
  .navbar-right { float: none !important; }
  .navbar-toggle { display: block; }
  .navbar-collapse {
    border-top: 1px solid;
    border-top-color: transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav>li { float: none;
    &>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .collapse.in { display: block !important; }
}
.toast-pf-top-right-fixed { position: fixed; }
