<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="" style="margin-left: 10px; margin-right: 10px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse" aria-expanded="false">
        Menu
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <img src="../assets/images/OpenShift-io_logo.svg" alt="OpenShift.io" />
      </a>
    </div>
    <!-- Links and other content -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav brand-left">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li id="home">
          <a href="/_home">Account Home</a>
        </li>
        <li>
          <a href="https://developers.redhat.com/" target="top">Red Hat Developer Program</a>
        </li>
      </ul>
      <ul class="nav navbar-nav brand-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown">
            <span class="pficon pficon-ok"></span>
            <span data-toggle="tooltip" title="All Integrations Operational">
              Status
            </span>
          </a>
          <div class="dropdown-menu infotip bottom-right">
            <div class="arrow"></div>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="i pficon pficon-ok"></span> Platform
              </li>
              <li class="list-group-item">
                <span class="i pficon pficon-ok"></span> Planner
              </li>
              <li class="list-group-item">
                <span class="i pficon pficon-ok"></span> Che
              </li>
              <li class="list-group-item">
                <span class="i pficon pficon-ok"></span> Pipeline
              </li>
            </ul>
          </div>
        </li>
        <li id="loggedout">
          <a id="login">
            <i class="pficon pficon-user"></i> Log In
          </a>
        </li>
        <li class="dropdown hidden" id="loggedin">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <div id="header_dropdownToggle_header">
              <span class="nav-item-icon">
                <span class="nav-icon pficon-user hidden" id="nouserimage"></span>
              <img class="hidden" id="userimage" />
              </span>
              <span class="nav-item-text" id="name"></span>
              <b class="caret"></b>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="profilelink">
                <span class="nav-item-text">Profile</span>
              </a>
            </li>
            <li>
              <a href="https://fabric8.io/guide/getStarted/index.html">
                <span class="nav-item-text">Help</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a id="settingslink">
                <span class="nav-item-text">Settings</span>
              </a>
            </li>
            <li>
              <a id="logout" href="#">
                <span class="nav-item-text">Sign out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
