///////////////////////////
// Utility styles
///////////////////////////


@mixin padding-x($count:15) {
  @for $i from 0 through $count {
    .padding-#{$i} {
      padding: #{$i}px !important;
    }
    .padding-top-#{$i} {
      padding-top: #{$i}px !important;
    }
    .padding-left-#{$i} {
      padding-left: #{$i}px !important;
    }
    .padding-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .padding-right-#{$i} {
      padding-right: #{$i}px !important;
    }
  }
}

@mixin margin-x($count:15) {
  @for $i from 0 through $count {
    .margin-#{$i} {
      margin: #{$i}px !important;
    }
    .margin-top-#{$i} {
      margin-top: #{$i}px !important;
    }
    .margin-left-#{$i} {
      margin-left: #{$i}px !important;
    }
    .margin-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }
    .margin-right-#{$i} {
      margin-right: #{$i}px !important;
    }
  }
}

@include padding-x;
@include margin-x;

.width-100 {
  width:100%;
}

.height-100 {
  height:100%;
}

.fill-container {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  margin:0;
  border-width:0;
}


@import 'layout-debug';

///////////////////////
// Styles relating to general html document
///////////////////////

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative; 
}

body {
  // Ensure that body element height at 'least' fills the viewport.
  // This means it can grow beyond, but wont be less
  min-height:100vh;
  position:relative;
  margin:0;
  padding:0;
  padding-top: 73px !important;
  display:flex;
  font-size: $font-size-base;
}
#signUp {
    background: url(../images/hero-background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left;
    color: $color-pf-white;
    width: 100%;
    height: auto;
    min-height: 540px;
    padding: 50px 0;
    margin-top: -1px; // for firefox
}
#features {
  background-color: $color-pf-black-200;
  padding-bottom: 50px;
}
#recommender {
  background: url(../images/recommendation-background.png);
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  color: $color-pf-white;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#analysis {
  background: url(../images/analyze-background.png);
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-control {
    font-size: $font-size-base;
    height: 50px;
    &::placeholder {
        font-style: normal;
    }
}
hr {
  border: 1px solid $color-pf-white;
  margin-top: 40px;
  margin-bottom: 40px;
}
.help-block {
  text-align: left;
}
.row-copy {
  margin-top: 20px;
}

// an app component is a marker class for angular component dom elements
.app-component {
  //root app component
  &.app {
    >footer {
      .footer {
        text-align: $textCenter;
        font-size: $font-size-small;
        border-top: 1px solid $color-pf-blue-300;
      }

    }
  }

  // Note: making relative positioning helps positioning but creates extra margins
  // on nested components, but it offers good absolute positioning options for
  // child elements
  position:relative;
  @include debug-app-component;

};

$content-padding:0;

header {
  padding:$content-padding;
}

footer {
  padding:$content-padding;
}

// helps to ensure that scrolling does not cross app footer or header
.view-container {
  position:relative;
  >.view {
    @extend .fill-container;
    &.with-rows {
      padding-left:$grid-gutter-width/2;
      padding-right:$grid-gutter-width/2;
    }
    >main,section,aside {
      padding:$content-padding;
      overflow: auto;
    }
  }
}

// chromeless dialog suppresses all chrome in the ng2-bootstrap modal component
.chromeless-modal {
  .modal-content {
    display:flex;
    border:solid 0 lime;
    padding:0;
    margin:0;
    .modal-header {
      display:none;
    }
    .modal-footer {
      display:none;
    }
    .modal-body {
      flex:1;
      display:flex;
      border:solid 0 orangered;
      padding:0;
      .chromeless-modal-content {
        flex:1;
        display:flex;
        border:solid 0 brown;
        padding:0;
      }
    }
  }
}
