///////////////////////////
// Utility styles
///////////////////////////


@mixin padding-x($count:15) {
  @for $i from 0 through $count {
    .padding-#{$i} {
      padding: #{$i}px !important;
    }
    .padding-top-#{$i} {
      padding-top: #{$i}px !important;
    }
    .padding-left-#{$i} {
      padding-left: #{$i}px !important;
    }
    .padding-bottom-#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .padding-right-#{$i} {
      padding-right: #{$i}px !important;
    }
  }
}

@mixin margin-x($count:15) {
  @for $i from 0 through $count {
    .margin-#{$i} {
      margin: #{$i}px !important;
    }
    .margin-top-#{$i} {
      margin-top: #{$i}px !important;
    }
    .margin-left-#{$i} {
      margin-left: #{$i}px !important;
    }
    .margin-bottom-#{$i} {
      margin-bottom: #{$i}px !important;
    }
    .margin-right-#{$i} {
      margin-right: #{$i}px !important;
    }
  }
}

@include padding-x;
@include margin-x;

.width-100
{
  width:100%;
}

.height-100
{
  height:100%;
}

.overflow-auto{
  overflow: auto;
}

.fill-container
{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  margin:0;
  border-width:0;
}


@import 'layout-debug';

///////////////////////
// Styles relating to general html document
///////////////////////

*{
  box-sizing: border-box;
}

body
{
  // Ensure that body element height at 'least' fills the viewport.
  // This means it can grow beyond, but wont be less
  min-height:100vh;
  @include debug-stretch-to-fit-viewport;
  position:relative;
  margin:0;
  padding:0;
  display:flex;
  font-size: $font-size-base;
}
.sign-up-form {
  background-color: $color-pf-black-900;
  margin-top: 0;
}
.hero {
  // background-image: url("/assets/images/twirl-full.jpg");
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  background-color: #ffffff;
  
  // position: absolute;
  // left: 0;
  // right: 0;
  width: 100%;
  height: 100%;
}
.hero-overlay {
  // background: rgba(75,85,85,0.34);
  // text-shadow: 1px 1px $color-pf-black-800;
}
.card-pf {
  // background-color: transparent;
}
.row-log-in {
  margin-bottom: 20px;
}
.overview-row {
  min-height: 200px;
}
.feature-row {
  background-color: $color-pf-black-900;
  min-height: 200px;
}

//////////////////////
// flex utility styles
//////////////////////

@mixin flex-grow-x($count:12) {
  @for $i from 1 through $count {
  .flex-grow-#{$i} { flex: $i; }
  }
}
// create 12 flex grow partitions
@include flex-grow-x;


.flex-container
{
    display:flex;
    &.in-column-direction
    {
      flex-direction: column;
    }
    &.in-row-direction
    {
      flex-direction: row;
    }
    &.with-wrap
    {
      flex-wrap: wrap;
    }
    // Make sure the main,section,aside parts fill the screen and collapse header and footer if not there
    >main,section,aside
    {
      @extend .flex-grow-1;
    }
    >.container-fluid
    {
      position:relative;
      width:100%;
      flex-grow:1;
    }

}


.app{
  @extend .flex-grow-1;
  @extend .flex-container;
};

// an app component is a marker class for angular component dom elements
.app-component
{
  //root app component
  &.app
  {
    >header{

    }
    >main
    {
    }
    >footer{
      .footer
      {
        text-align: $textCenter;
        font-size: $font-size-small;
        border-top: 1px solid $color-pf-blue-300;
      }

    }
  }

  // when app-component is the child of a bootstrap column div
  div[class^="col-"] &
  {
    // margin-left:-$grid-gutter-width/2;
    // margin-right:-$grid-gutter-width/2;
  }
  div[class*=" col-"] &
  {
    // margin-left:-$grid-gutter-width/2;
    // margin-right:-$grid-gutter-width/2;
  }

  // Note: making relative positioning helps positioning but creates extra margins
  // on nested components, but it offers good absolute positioning options for
  // child elements
  position:relative;
  @include debug-app-component;

};

$content-padding:0;

header
{
  padding:$content-padding;
}

footer
{
  padding:$content-padding;
}

// helps to ensure that scrolling does not cross app footer or header
.view-container
{
  position:relative;
  >.view
  {
    @extend .fill-container;
    &.with-rows
    {
      padding-left:$grid-gutter-width/2;
      padding-right:$grid-gutter-width/2;
    }
    >main,section,aside{
      padding:$content-padding;
      overflow: auto;
    }
  }
}

// pf overrides
// $color-pf-white;
// $color-pf-blue-300
// $font-size-small
// font-size: em(18);


.dropdown {
  a:hover {
    text-decoration: none;
  }

  a {
    color: white;
  }

}

  .btn{
    min-width: 90px;
  }


// chromeless dialog suppresses all chrome in the ng2-bootstrap modal component
.chromeless-modal
{
  .modal-content
  {
    display:flex;
    border:solid 0 lime;
    padding:0;
    margin:0;
    .modal-header{
      display:none;
    }
    .modal-footer{
      display:none;
    }
    .modal-body{
      flex:1;
      display:flex;
      border:solid 0 orangered;
      padding:0;
      .chromeless-modal-content
      {
        flex:1;
        display:flex;
        border:solid 0 brown;
        padding:0;

      }
    }

  }
}
