@import 'variables';
@import 'custom-variables';
@import 'custom-mixins';
@import 'custom-fonts';

// this is to match the Red Hat Developers site
body {
    font-family: 'Overpass', sans-serif;
}

.btn {
    white-space: normal !important;
    word-wrap: break-word;
    font-size: $font-size-base;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
}

.textCenter{
    text-align: center;
}
.textRight {
    text-align: right;
}
.text-white {
    color: $color-pf-white;
}
.text-red {
    color: $color-pf-red-100;
}
.row-spacer {
    margin-top: 100px;
}

// brand overwrites
.btn-lg {
    padding: 12px 20px;
}
.btn-primary {
    background-image: none;
    background-color: #c00;
    border-color: #c00;
    color: #fff;
    &:hover {
        background-color: #b30000;
        border-color: #b30000;
    }
}
.btn-open-red {
    background-image: none;
    background-color: transparent !important;
    border-color: #c00 !important;
    color: #fff !important;
    &:hover {
        background-color: #b30000 !important;
        color: #fff !important;
    }
}
.btn-accent {
    background-image: none;
    background: #08c0fc !important;
    border-color: #08c0fc !important;
    color: #fff !important;
    &:hover {
        background: #03afe8 !important;
        border-color: #03afe8 !important;
        color: #fff !important;
    }
}
.btn-link {
    color: #06c !important;
    &:hover {
        color: #0051a3 !important;
    }
}
.btn-white {
    background-image: none;
    background: #fff;
    border-color: #fff;
    color: #c00;
    &:hover {
        background: #f2f2f2;
        border-color: #f2f2f2;
        color: #c00;
    }
}
//

@media (max-width: $grid-float-breakpoint){
    .mobdn{ display: none; }
    .list-view-pf {
        .list-group-item-heading{
            font-size: em(12);
        }
    }
}
@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd{ padding-top: em(11); }
  .containerPadd-nologin{ padding-bottom: 0; }
}
    
#login:hover {
  cursor: pointer;
}


@import 'layout';
@import 'features.scss';
@import 'recommender.scss';
@import 'analysis.scss';
