@import 'variables';
@import 'custom-variables';
@import 'custom-mixins';
@import 'custom-fonts';

// this is to match the Red Hat Developers site
body {
    font-family: 'Overpass', sans-serif;
}

//colors
.color-grey{ color: $color-pf-black-800 !important; }

// custom classes
.containerPadd{ padding: em(96) 0 em(66) 0; }
.containerPadd-nologin{ padding-bottom: 0; }
.truncate{
    @include truncate;
}
.truncate-ellipsis{
    display: table;
    table-layout: fixed;
    white-space: nowrap;
}
.dn{ display: none; }
.dib{ display: inline-block; }
.db{ display: block; }
.textCenter{ text-align: $textCenter; }
.textRight {
    text-align: right;
}

.hero-text {
    font-size: 3em;
    font-weight: 600;
    .hero-text-sub {
        font-size: .7em;
    }
}
.form-control {
    font-size: $font-size-base*1.5;
    &::placeholder {
        font-style: normal;
    }
}
.beta-form {
    input {
        height: 50px;
        border: 1px solid $color-pf-black-300;
        border-radius: 4px;
        background-color: $color-pf-white;
    }
}
.beta-submit {
    height: 55px;
    border-radius: 4px;
    font-size: 1.5em;
    @media (min-width: 1175px) { 
         font-size: 2em;
    }
    @media (max-width: 500px) {
        font-size: 1em;
    }
}
.text-white {
    color: $color-pf-white;
}
.btn-outline {
    @extend .beta-submit;
    // will be added back in as part of the visual design
    // border: 2px solid $color-pf-blue-200;
    // background-color: transparent;
    // background-image: none;
    // &:hover, &:active, &:focus {
    //     color: darken($color-pf-white, 5%);
    //     background-image: linear-gradient(to bottom, $color-pf-black-900 0, $color-pf-black 100%);
    // }
}

.img-placeholder {
    // width: 615px;
    border: 1px solid $color-pf-black-400;
    width: 100%;
    min-width: 100%;
    height: 265px;
}

@media (max-width: $grid-float-breakpoint){
    .mobdn{ display: none; }
    .list-view-pf {
        .list-group-item-heading{
            font-size: em(12);
        }
    }
}
@media (max-width: ($grid-float-breakpoint - 1)){
  .containerPadd{ padding-top: em(11); }
  .containerPadd-nologin{ padding-bottom: 0; }
}
    
#login:hover {
  cursor: pointer;
}


@import 'layout';
