#stackAnalyses{
    input[type="file"] {
        display: none;
    }
}   

#compGridCntr{
    .table {
        border: 1px solid $color-pf-white;
        border-radius: 4px;
        >thead {
            background-image: none;
            background-color: $color-pf-white;
            color: #000;
        }
    }
}

#compGridCntrCVE {
    .table{
    width: 50%;
    margin: 0 auto;
    }
    .table>thead {
        color: #000;
    }
}

.recommender-inputs {
    .form-control {
        height: 50px;
        width: 250px !important;
    }
    .form-inline .form-group {
        vertical-align: top;
    }
    .form-inline{
        .form-group{
            span{
                top: 13px;
            }
        }
    }
}

.card-cntr {
    padding: 15px 25px 15px 25px;
    color: #000;

    .overview-cards {
        .make-center{
            text-align: center;
        }

        .f8-icon-size {
            font-size: 30px;
        }
        .overview-star-icon {
            color: #E8AE3C;
        }
        .overview-fork-icon {
            color: #E08030;
        }
        .overview-depen-icon {
            color: #3788C9;
        }
        .f8-chart-numeric {
            font-size: 25px;
            font-weight: 100;
        }
        .f8-chart-description {
            font-size: 15px;
            font-weight: 100;
        }
        .overview-code-metric-icon {
            color: #3f9c35;
        }
    }
}