$font-path: '~patternfly-sass/assets/fonts/patternfly/';
$img-path: '~patternfly-sass/assets/images/patternfly/';
$fa-font-path: '~font-awesome/fonts/';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$overpass-font-path: '../fonts/overpass/';
$font-size-base: 14px;