///////////////////////
// Styles relating to general html document
///////////////////////
html, body {
  height: 100%;
  position: relative;
}
body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  min-height: 100%;
  padding-bottom: 60px;
  padding-top: 73px !important;
  font-size: $font-size-base;
  line-height: 1.44 !important;
}
.navbar-custom {
  .navbar-collapse {
    margin-top: 0 !important;
  }
}
.column-item {
  min-height: 250px;
}
.row-cards {
  margin-top: 20px;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  text-align: left;
  padding-left: 0;
  @media (max-width: 767px) {
    text-align: center;
    padding-left: 20px;
  }
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.img-responsive {
  border-radius: 4px;
}
.section-footer {
  // height: 100%;
  padding-bottom: 20px;
}
.paragraph-wrap {
  float: left;
  @media (max-width: 500px) {
    float: none;
  }
}
.paragraph-break {
  border-color: $color-pf-black-150;
}
// .signup-footer {
//   text-align: center;
// }
#signUp {
  background: url(../images/hero-background-80.jpg) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  color: $color-pf-white;
  width: 100%;
  height: auto;
  padding: 50px 0;
  margin-top: -1px; // for firefox
}
.form-control {
  font-size: $font-size-base;
  height: 50px;
  &::placeholder {
    font-style: normal;
  }
}
hr {
  border: 1px solid $color-pf-white;
  margin-top: 40px;
  margin-bottom: 40px;
}
.row-copy {
  margin-top: 20px;
}
.fill-container {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  margin:0;
  border-width:0;
}
@media (max-width: 350px) {
  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
