.analyze-box {
    background-color: $color-pf-white;
    border: 1px solid $color-pf-black-200;
    padding: 15px;
}
.upload-files {
    list-style: none;
}
.file-to-analyze {
    margin-top: 10px;
    margin-bottom: 10px;
}
.stack-spinner {
    display: inline-block;
}
.view-report {
    margin-left: 50px;
}
.list-view-pf-description {
    width: 100%;
}