@import 'variables';
@import 'custom-variables';
@import 'custom-mixins';
@import 'custom-fonts';

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1200;
}
#return-to-top i {
  color: $color-pf-white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: $color-pf-white;
    top: 5px;
}
h1 {
  font-size: 2em;
  font-weight: 600;
}
h2 {
  font-size: 30px;
  color: $color-pf-white;
}
h3 {
  font-size: 24px;
}
.top-banner {
  h3 {
    text-align: right;
    @media (max-width: 768px) {
      text-align: left;
    }
  }
  .bullet-header {
    margin-top: 10px !important;
  }
}
.gray-banner {
  background-color: $color-pf-black-500;
  color: $color-pf-white;
  padding-top: 15px;
  padding-bottom: 15px;
  ul {
    line-height: 2.5;
    padding-left: 20px;
    -webkit-padding-start: 20px;
    li {
      // font-size: 1.2em;
      font-size: 18px;
    }
  }
}
.video-cards {
  margin-top: 0 !important;
}
.video-banner {
  padding-top: 15px;
  padding-bottom: 20px;
  // .video-container {
  //   text-align: center;
  //   iframe {
  //     height: 20em;
  //     width: 50%;
  //   }
  // }
  .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}
.row-spacer {
  margin-top: 100px;
}
#login:hover {
  cursor: pointer;
}

@import 'colors';
@import 'layout';
@import 'buttons';
@import 'features';
@import 'footer';
