.features {
  height: 500px;
  margin-bottom: 20px;
  p {
    margin-top: 15px;
  }
}
.features-background {
  background-color: $color-pf-black-200;
  padding: 0 30px;
  height: 100%;
}
.card-image {
  img {
    height: 200px;
    margin: auto 0;
    width: 100%;
    padding-top: 20px;
  }
}
.learn-more {
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.intro {
  text-align: center;
  .brand-heading {
    width: 40%;
    margin: 0 auto;
    @media(max-width:768px) {
      width: 70%;
    }
    @media (max-width: 350px) {
      width: 100%;
    }
  }
  .intro-body {
    display: table-cell;
    vertical-align: middle;
  }
  @media(min-width:768px) {
    .intro-body {
      .intro-text {
        font-size: 26px;
      }
    }
  }
}
.submit-show {
  margin-top: 50px;
}
