.features {
  height: 500px;
  margin-bottom: 20px;
  color: #363636;
  &:hover {
    h3, .learn-more {
      color: #0066CC;
    }
  }
  p {
    margin-top: 15px;
  }
  @media (min-width: 768px) and (max-width: 995px) {
    height: 615px;
  }
}
.features-background {
  background-color: $color-pf-black-200;
  padding: 0 30px;
  height: 100%;
  // @media(max-width: 980px) {
  //   height: 600px;
  // }
}
.card-image {
  img {
    height: 200px;
    margin: auto 0;
    width: 100%;
    padding-top: 20px;
  }
}
.learn-more {
  font-weight: 700;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.intro {
  text-align: center;
}
.submit-show {
  margin-top: 50px;
}
