// custom colors to match web standards
$color-rh-red: #c00;
$color-rh-red-dark: #ad0000;
$color-rh-blue: #06c;
$color-rh-blue-dark: #0051a3;
$color-rh-blue-light: #08c0fc;
$color-rh-blue-xlight: #03afe8;
$color-rh-blue-alt: #73bcf7;
$color-rh-black: #010101;
$color-rh-gray-link: #858585;
