@import 'variables';
@import 'custom-variables';
@import 'custom-mixins';
@import 'custom-fonts';

h1 {
  font-size: 2em;
  font-weight: 600;
}
h2 {
  font-size: 1.875em;
  color: $color-pf-white;
}
h3 { font-size: 1.500em; }
.top-banner {
  h3 { text-align: right;
    @media (max-width: 768px) { text-align: left; }
  }
  .bullet-header { margin-top: 10px !important; }
}
.banner {
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: rgba(0, 0, 0, 0.6);
  background-color: #303030;
  box-shadow: 0 0 5px #303030;
  color: $color-pf-white;
  ul {
    padding-left: 20px;
    -webkit-padding-start: 20px;
    li {
      padding-bottom: 10px;
      font-size: 18px;
    }
  }
}
.cover-filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(25 ,29, 34, .25);
}
.row-spacer { margin-top: 100px; }
#login:hover { cursor: pointer; }

@import 'colors';
@import 'layout';
@import 'video';
@import 'buttons';
@import 'features';
@import 'lightbox';
@import 'footer';
