#topFeature {
  width: 100%;
  height: auto;
  padding: 25px 0;
  margin-top: -1px; // for firefox
  color: $color-pf-white;
}
.features {
  min-height: 300px;
  color: #363636;
  p { margin-top: 15px; }
}
.cards-pf {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.features-background { padding: 15px 30px; }
.card-image {
  img {
    float: left;
    width: 160px;
    margin: auto 0;
    padding-top: 20px;
    margin-right: 10px;
    @media (max-width: 450px) { width: 100%; }
  }
}
.submit-show { margin-top: 50px; }
.stack-images {
  @media (max-width: 1023px) { text-align: center; }
  img {
    @media (min-width: 768px) { width: 100%; }
  }
}
#bottomSignup {
  width: 100%;
  height: auto;
  padding: 25px 0;
  margin-top: -1px; // for firefox
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: $color-pf-white;
}
